{% extends "template.html" %}
{% block conteudo %}
      <form action="{{url_for('criar')}}" method="post">
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <select id="categoria" name="categoria" class="form-control">
              <option value="Ação">Ação</option>
              <option value="RPG">Aventura</option>
              <option value="Aventura">RPG</option>
              <option value="FPS">FPS</option>
              <option value="Estratégia">Estratégia</option>
            </select>
          </div>
          <div class="form-group">
            <label for="console">Console</label>
            <select name="console" id="console" class="form-control">
              <option value="PC"></option>
              <option value="Console"></option>
              <option value="Celular"></option>
              <option value="Diversos"></option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
      </form>
   
{% endblock %}